/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/


html, body { 
  background-color:#4c84f1; 
  font-family: 'Lato', sans-serif;
}
ul {list-style-position:inside;}
.highlight {padding: 10px;}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Collecta Styles
/*
/*****************************************************************************/
