/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/


html, body {
  background-color:#4c84f1;
  font-family: 'Lato', sans-serif;
}
ul {list-style-position:inside;}
.highlight {padding: 10px;}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Collecta Styles
/*
/*****************************************************************************/

body {
  background: url(/images/layout/bg.png) repeat-x;
}
.button {
  background-color: #f4b42b;
  border-radius: 5px;
  border: 1px solid #f4b42b;
  text-transform: uppercase;
}
.button:hover {
  background-color:#da9503;
}
.container {
  padding-top:60px;
  padding-bottom:85px;
}
.page_meta {
  text-align: right;
}
.nav {
  float: right;
}
.nav li {
  float:left;
  margin-left:20px;
  list-style: none;
}
.nav li a {
  color:#FFF;
  text-transform: uppercase;
}
.nav .button {
  font-size:12px;
  border:0;
  padding:10px;
  margin-top: -5px;
}
.row.content {
  padding-top:40px;
}
.content_block {
  clear:both;
}
h1,
h1 a,
h1 a:hover,
h2,
h2 a,
h2 a:hover,
h3,
h3 a,
h3 a:hover,
h4,
h4 a,
h4 a:hover,
h5,
h5 a,
h5 a:hover{
  font-family: 'Lato', sans-serif;
  color:white;
  font-weight:100;
  margin:0;
}
h4 {
  font-size:13px;
  font-weight:400;
  margin:0;
}
.sharers {
  margin-top:8px;
  font-size:12px;
  text-transform: uppercase;
}
.sharers span a {
  line-height:35px;
    color:#3258be;
    vertical-align: middle;
}

.content_block,
.content_block p {
  color:#FFF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

code{
  color:#fff;
}
code.block,
pre.block{
  display:block;
  margin-bottom:1.25em;
  background:#81a5ff;
  padding:10px;
}
a,
a:hover{
  color:#3b3b3b;
}
p a:hover{
  text-decoration: underline;
}
p a.button{
  padding:10px;
  font-size:12px;
}
a.button .action{
  display:inline-block;
  padding-right:8px;
}

.intro{
  margin-bottom:40px;
}

.footer_wrapper {
  position:fixed;
  bottom:0;
  background: #3b3b3b;
  min-height:50px;
  width:100%;
  color:#FFF;
  padding-top:10px;
}

#signup {
  background: url(/images/floppy.png) no-repeat top left;
  padding-left:70px;
}
#signup p {
  width:30%;
  float:left;
  margin-right:10px;
}
#signup .button {
  float:right;
  box-shadow: 5px 5px 0px #353535;
  font-size: 13px;
  margin-top:5px;
}
#signup .text_input {
  display: inline-block;
  width:17%;
  margin-right: 10px;
  margin-top:8px;
  min-width: 100px;
}


/**** RESPONSIVE *****/
@media only screen and (max-width: 767px){
  .row .row{
    margin:0;
  }
  .columns{
    float:none;
    width:100%;
    margin-bottom:10px;
    padding:0 2%;
  }
  .nav{
    margin-top:20px;
  }
  .page_meta{
    text-align: left;
  }

  .footer_wrapper{
    position: relative;
  }

  #signup p{
    float:none;
    width:100%;
  }
  #signup .text_input{
    width:24%;
  }
}
@media only screen and (max-width: 660px){
  #signup{
    padding-left:0;
    background-image:none;
  }
  #signup .text_input{
    width:62%;
    margin-right:5%;
  }
}
