<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ page.title }}</title>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/vendor/custom.modernizr.js"></script>

</head>

<body>

  <div class="row container">
    <div class="row">
      <div class="large-5 columns">
        <img src="/images/logo.png" alt="">
      </div>
      <div class="large-7 columns">
        <ul class="nav">
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li class="button"><a href="#signup">Stay Updated</a></li>
        </ul>
      </div>
    </div>

    <div class="row content">
      <?=$content_for_layout?>
    </div>
    
  </div>
  <div class="footer_wrapper">
    <div class="row">
      <div class="large-12 columns">
        <a name="signup"></a>
        <form action="" method="post" accept-charset="utf-8" id="signup">
          <input type="submit" class="button" name="" value="Subscribe">
          <input type="text" class="text_input" name="email" value="" placeholder="Your email">
          <div class="signup_intro">
            <p>Join our 10,629 other good looking friends who want insights &amp; updates!</p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
